body {
    background-color: #f0f0f0;
    font-family: Verdana, sans-serif;
    margin: 2em 4em;
/*    border: 1px solid #d0d0d0;
    border-width: 0px 1px 1px 1px;*/
    padding: 2em;
}

div.overview, div.toc {
    background-color: #fcfce0;
    border-radius: 10px;
    padding: 1em;
    font-family: Georgia, serif;
    font-size: 110%;
    line-height: 130%;
    margin: 1em 0em;
}
    
.method {
    color: blue;
}


h1 {
    border: 0px solid #403000;
    color: #403000;
    background-color: #ffffe0;
    padding: 1em;
    font-size: 250%;
    border-radius: 10px;
}

h3 {
    margin-top: 1.5em;
    color: #403000;
}
    
pre {
    background-color: #fff0a0;
    border: 1px dotted #c0b080;
    border-radius: 5px;
    padding: 0.5em;
}
.description {
    font-family: Georgia, serif;
}

h2 {
    color: #403000;
    font-family: Verdana, sans-serif;
    font-size: 250%;
}


.classdef h2 {
    border-bottom: 1px solid #403000;
    margin-top: 3em;
    color: #403000;
    font-size: 250%;
}

/* properties */
/*.classdef p {
   border: 1px solid black; padding: 0; 
   border-radius: 10px;
   background-color: #fffff0;
   padding: 0.8em;
}*/
.classdef ul { 
    border: 1px solid black; padding: 0; 
    border-radius: 10px;
    background-color: #fffff0;
}
.classdef ul li { 
    list-style-type: none; 
    padding: 0.8em;
    font-size: 100%;
    border-bottom: 1px solid #403000;
    font-family: serif;
}
.classdef ul li:last-child {
    border-width: 0px;
}
.classdef ul li b {
    color: #403000;
}


/* misc */
b.name {
    padding-right: 2em;
    font-family: monospace;
}


/* categories */

.categories > li {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em 1em;
    border: 1px solid green;
    border: 1px dotted #c0b080;
    background-color: #fffff0;
    border-radius: 5px;
}
.categories a {
    text-decoration: none;
    color: #403000;
}
.categories a:hover {
    text-decoration: underline;
}
.categories ul {
    border: 0px solid red;
    padding: 0;
}
.categories ul li {
    list-style-type: none;
}
